DB_URL_PROD=postgres://postgres:password-from-dokku-when-deploy@dokku-postgres-liredditdb:5432/liredditdb
DB_USERNAME_DEV=lp****
DB_PASSWORD_DEV=le****
SESSION_DB_USERNAME_DEV_PROD=lp*****
SESSION_DB_PASSWORD_DEV_PROD=le****
SESSION_SECRET_DEV_PROD=mysessionsecret
CORS_ORIGIN_DEV=http://localhost:3000
CORS_ORIGIN_PROD=vercel-url

AND CHANGE THIS FILE TO .env.production when deploy so that Dockerfile picks it up
OR WE CAN SET ENV VARS IN DOKKU
ENV VARS IN DOKKU EVEN HAS DATABASE_URL TO USE OUT OF THE BOX, INSTEAD OF DB_URL_PROD ABOVE